PORT=4000
LOG_LEVEL=info

DATABASE_URL="postgresql://postgres:postgres@localhost:5435/job_crawler"

JWT_SECRET=change-me-in-local-env
JWT_EXPIRES_IN=7d

REDIS_URL="redis://localhost:6380"
ELASTICSEARCH_URL="http://localhost:9200"
MAX_VACANCY_AGE_DAYS=14
